
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: none;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}
.nav-links li a:hover {
  color:#2575fc;
}
.cta-button {
  text-decoration: none;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  padding: 12px 26px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
}

.cta-button:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    padding: 20px 30px;
  }

  .cta-button {
    padding: 10px 22px;
  }
}
.home {
    margin-left: 100px;
    margin-top: 100px;
    background-color: #fdfaf6;
}
